@media screen and (max-width:768px){
   footer{
    .footer_page{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .left{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .adress{
            text-align: center;
        }
    }
   }
}